@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}


header.hero-header {
  width: 100%;
  background: transparent;
  position: absolute;
}

.main-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px;
}



.your-main-logo-ul {
  gap: 60px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.your-logo {
  width: 150px;
  cursor: pointer;
}

.your-logo img {
  width: 100%;
}

.your-main-logo-ul ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.your-main-logo-ul ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #96949C;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  transition: 0.2s ease-in-out;
  line-height: 22px;
  /* 122.222% */
  position: relative;
  cursor: pointer;
}

.header-btn-box {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}


.header-btn-box button {
  color: #2947c7;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  padding: 8px 0px;
  background: transparent;
  border: none;
  transition: 0.3s;
}

button.Register {
  padding-right: 30px;
  padding-left: 30px;
}

button.Login {
  padding-right: 70px;
  padding-left: 70px;
  border: 1px solid #96949C;
  border-radius: 50px;
}

button.Login:hover {
  background-color: #f3f5fe;
}


.your-main-logo-ul ul li.active,
.your-main-logo-ul ul li:hover {
  color: rgb(34, 14, 39);
}

.your-main-logo-ul ul li::before {
  left: 50%;
  width: 0px;
  bottom: -3px;
  height: 2px;
  content: "";
  position: absolute;
  background: rgb(29, 89, 249);
  transition: 0.25s;
}

.your-main-logo-ul ul li.active::before,
.your-main-logo-ul ul li:hover::before {
  left: 0px;
  width: calc(100%);
}


section.hero {
  background: linear-gradient(180deg, #fff 30vh, #F7F7F7 0);
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto !important;
  max-width: 1440px !important;
}

.main-hero {
  width: 100%;
}


.tab-box-hero .react-tabs__tab--selected::after {
  background: transparent !important;
}

.hero-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #EAEAEC;
  background: #FFF;
  box-shadow: 0px 4px 6px 0px #CDD1E0;
  /* height: 75vh; */
  height: 100%;
}

.box-part-1 {
  width: 80%;
  height: 100%;
  border-right: 1px solid #EAEAEC;
}

.box-part-2 {
  width: 20%;
  padding: 25px;
  height: 100%;
}

.react-tabs {
  width: 100%;
}

.tab-box-hero {
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #EAEAEC;
  background: #F7F7F7;
}

.tab-box-hero ul.react-tabs__tab-list {
  border: none;
  margin: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 15px;
}

.tab-box-hero .react-tabs__tab {
  border-radius: 8px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  width: 15%;
  padding: 8px 0px 8px 12px;
  bottom: 0px;
}

.tab-box-hero .react-tabs__tab button {
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #220E27;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 169.231% */
}

span.icon-hero {
  width: 34px;
  height: 34px;
  padding: 5px 8px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

span.icon-hero img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tab-box-hero .react-tabs__tab--selected {
  border: 2px solid #2947c7;
}

.Website-url-box {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;

}

.tab-box-hero-tital {
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #E4E4E4;
}

.Website-url-box h2 {
  color: #68676C;
  font-family: sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 138.462% */
  padding-bottom: 10px;
}

.Website-url-box input {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  outline: none;
  padding: 12px 18px;
  color: #96949C;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.react-tabs__tab--selected::after {
  background: transparent !important;
}


.tab-2-hero {
  width: 100%;
  padding: 25px 0px;
}

.tab-2-hero h2 {
  color: #220E27;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 110% */
  padding-bottom: 8px;
}

.tab-2-hero p {
  color: #68676C;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  /* 143% */
  padding-bottom: 15px;
}

.qr-code-tab {
  width: 100%;
}

.qr-tab-btn {
  width: 100%;
}

.qr-tab-btn ul.react-tabs__tab-list {
  border: none;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.qr-tab-btn .react-tabs__tab {
  border: none;
  border-radius: 4px;
  /* 175% */
  padding: 8px 15px;
  bottom: 0px;
}

.qr-tab-btn .react-tabs__tab button {
  color: #96949C;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.5px;
  /* 175% */
  background: transparent;
  border: none;
}

.qr-tab-btn .react-tabs__tab--selected {
  background: #F3F5FE;
}


.qr-tab-btn .react-tabs__tab--selected button {
  color: #2947c7;
}


.qr-tab-box {
  width: 100%;
}

.ar-bar-box {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 0px;
  overflow-x: auto;
}

.qr-card {
  border-radius: 8px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.qr-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-card.none-qr-card {
  border: 2px solid #FE8E3E !important;
}

.qr-card.none-qr-card svg {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  height: 6px;
  transition: opacity 200ms;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  transition: 0.2s;
  background: transparent;


}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: opacity 200ms;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 10px;
  cursor: pointer;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;

  transform: translateX(681px);
  cursor: pointer;
}

.Website-url-box textarea {
  width: 100%;
  height: 15vh;
  border-radius: 4px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  outline: none;
  padding: 12px 18px;
  color: #96949C;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
}









/* dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code
dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code
dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code */




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  top: 35px;
  left: -20px;
  transition: all 0.2s ease-in-out;
}

.dropdown-content a {
  color: #96949C;
  width: calc(100% - 8px);
  overflow: hidden;
  font-size: 12px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 6px;
  white-space: nowrap;
  padding-left: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  padding-bottom: 6px;
  display: block;
}

.dropdown a:hover {
  color: #220E27;
  background-color: #EAEAEC;
}

.show {
  display: block;

  transition: all 0.2s ease-in-out;
}




/* dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code
dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code
dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code-dropdown-css-code */



button.see-all-btn {
  border-radius: 8px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  width: 15%;
  padding: 12px 0px 12px 12px;
  color: #2947c7;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

button.Register:hover {
  background-color: #f3f5fe;
  border-radius: 50px;
}


.input-Network {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Network-in-box {
  width: 48%;
}

button {
  cursor: pointer;
}

.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #2947c7;
  --c-primary-20-percent-opacity: #1d58f948;
  --c-primary-10-percent-opacity: #1d58f948;
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #68676C;
  color: #68676C;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-left: 8px;
  user-select: none;
  white-space: normal;
}

.checkbox-wrapper-33 .checkbox+.checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid #68676C;
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus+.checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}
h4.hello-style {
  padding-bottom: 0px !important;
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}


.cheack-selet-hero {
  width: 100%;
  padding: 24px 0px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.selet-hero {
  width: 20%;
}

.new-span {
    color: #220E27;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    padding-bottom: 30px;
}
.selet-hero select {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #EAEAEC;
  background: #FFF;
  outline: none;
  padding: 12px;
  color: #96949C;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cheack-hero {
  width: 20%;
  padding: 20px 12px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.accordion__button svg {
  transition: transform 0.3s ease;
  /* Smooth transition */
  transform: rotate(90deg);
  height: 20px;
  width: 20px;
  margin: 0px;
}

.accordion__button[aria-expanded="true"] svg {
  transform: rotate(180deg);
  /* Rotate 180 degrees when expanded */
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 0px !important;
  height: 0px !important;
  margin-right: 0px !important;
  border-bottom: 0px;
  border-right: 0px;
  display: none !important;
}



.acc .accordion__button {
  width: 100%;
  padding: 15px 0px;
  border: none;
  border-radius: 0px;

  background: transparent !important;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.acc {
  width: 100%;
}

.acc .accordion {
  width: 100%;
  padding-top: 30px;
  border: none;
  border-radius: 0px;
}


.acc .accordion__button:hover {
  background-color: #f7f7f7 !important;
}

.input-Email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Email-in-box {
  width: 100%;
}

.input-Email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Email-in-box {
  width: 100%;
}

.PDF-box {
  width: 100%;
}

.PDF-box h4 {
  color: #220E27;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.PDF-box p {
  color: #68676C;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 8px;
}

.PDF-box button {
  color: #FFFFFF;
  background-color: #2947c7;
  border: 1px solid #2947c7;
  padding: 12px 50px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.PDF-box button:hover {
  background: transparent;
  color: #2947c7;
}

.Part-2-card {
  border-radius: 8px;
  border: 1px solid #EAEAEC;
  width: 100%;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Part-2-card img {
  width: 70%;
}

.hero-Download-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.hero-Download-box button {
  background-color: #f7f7f7;
  border-radius: 50px;
  border: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 40px;
  color: #96949C;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
}

.hero-Download-box button svg {
  width: 30px;
  height: 30px;
}

.hero-Download-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.hero-Download-box button {
  background-color: #f7f7f7;
  border-radius: 50px;
  border: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 40px;
  color: #96949C;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  transition: 0.3s;
  cursor: pointer;
}

.hero-Download-box button svg {
  width: 30px;
  height: 30px;

}

.hero-Download-box button:hover {
  background-color: #2947c7;
  border: 1px solid #2947c7;
  color: #fff;
}

.hero-Download-box button:hover svg {
  stroke: #fff;
  fill: #fff;
}




/********************* Shahdin CSS Start ***********************/


/*********** Generate types qr code CSS Start ****************/


.generate_qrcode_head {
  text-align: center;
}

.generate_qrcode_head h3 {
  color: #220E27;
  text-align: center;
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  padding: 0px 0px 20px 0px;
  margin: 0px;
}


.generate_qrcode_head p {
  color: #68676C;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 0px 0px 20px 0px;
}

ul.list_icon_container {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  gap: 11px;
}

.list_icon_imgtxt {
  width: 130px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #E4E4E4;
  background: #FFF;
}

.list_icon_imgtxt .list_icon_img {
  border-radius: 8px;
  background: #F7F7F7;
  padding: 10px 20px;
  margin: 0px 0px 10px 0px;
}


.list_icon_imgtxt {
  width: 130px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #E4E4E4;
  background: #FFF;
  padding: 8px 8px 8px 8px;
}

.list_icon_imgtxt p {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin: 0px;
}


/************** Swiper Slider CSS Start **********/

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider_mob_bg_box img {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  border-radius: 80px 80px 0px 0px;
}

.slider_mob_bg_box {
  background: url(../img/transparent_mob_bg.png) no-repeat top center;
  text-align: center;
  width: 100%;
  position: relative;
  top: -40px;
}

.slider_mob_mainbox {
  width: 100%;
  border-radius: 12px 0px 12px 0px;
  height: 50vh;
  ;
}

.slider_mob_textbox {
  border-radius: 0px 12px 12px 0px;
  background: #F7F7F7;
  padding: 125px 88px;
}


.list_icon_img img {
  width: 47.994px;
  height: 47.994px;
  margin: 0 auto;
  object-fit: contain;
}


.mySwiper .swiper-slide {
  width: 12% !important;
}

.generate_different_typeqrcode {
  padding: 110px 0px;
}

.generate_different_typeqrcode .swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  margin: 110px 0px 0px 0px;
}

.generate_different_typeqrcode .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  border-radius: 22px;
  background: #220E27;
  opacity: 1 !important;
  padding: 10px 22px;
  left: 10px;
}

.generate_different_typeqrcode .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 16px !important;
}


.generate_different_typeqrcode .swiper-button-next {
  border-radius: 22px;
  background: #220E27;
  padding: 10px 22px;
}

.generate_different_typeqrcode .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 16px;
}

.slider_mob_textbox h3 {
  color: #220E27;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0px;
}

.slider_mob_textbox p {
  color: #68676C;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding: 15px 0px 15px 0px;
}

.slider_mob_textbox a {
  color: #FFF !important;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  border-radius: 28px;
  background: #2947c7;
  padding: 15px 40px;
  transition: all .6s ease;
  border: 1px solid #2947c7;
  cursor: pointer;
}


.slider_mob_textbox a:hover {
  background-color: transparent;
  border-color: #2947c7;
  color: #2947c7 !important;
}

.frame_under_tab {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}



.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active.swiper-slide-thumb-active .list_icon_imgtxt {
  border-color: #2947c7;
}


.mySwiper .swiper-slide-thumb-active .list_icon_imgtxt {
  border-color: #2947c7;
}

.mySwiper .swiper-slide {
  opacity: 1;
}

.swiper-free-mode>.swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
  width: 1200px;
  overflow-y: scroll;
  transform: translate3d(0.35px, 0px, 0px) !important;
}
section.Plans {
  width: 100%;
  padding: 120px;
}

.main-Plans {
  width: 100%;
}

.Plans-tital {
  width: 100%;
}

.Plans-tital h2 {
  font-size: 44px;
  line-height: 72px;
  padding-bottom: 12px;
  color: #000;
  text-align: center;
}

p.para-tital-1 {
  color: rgb(104, 103, 108);
  margin: 0px auto;
  font-size: 16px;
  max-width: 560px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.Plans-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Plans-card {
  width: 32%;
  padding: 26px 24px 32px;
  position: relative;
  box-shadow: 0px 4px 6px #CDD1E0;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Plans-card h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 0px;
  color: #220E27;
}

.Plans-card  h2 {
  color: #220E27;
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.Plans-card span {
  display: flex;
  gap: 5px;
  padding-top: 21px;
}

.Plans-card span p {
  color: #7B777C;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  margin: 0px;
}

.Plans-card a {
  color: #7B777C;
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.Plans-card button {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  position: relative;
  font-size: 18px;
  color: #1D59F9;
  border: 2px solid #1D59F9;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  white-space: nowrap;
  border-radius: 28px;
  text-transform: none;
  width: 100%;
  background-color: #fff;
}



p.para-tital-2 {
  margin: 0px;
  text-align: center;
  padding-top: 40px;
}
/************** Swiper Slider CSS End **********/


/*********** Generate types qr code CSS End ****************/


/*********** Footer CSS Start ****************/

footer.footer_main {
  padding: 50px 0px 59px 0px;
  background: #220E27;
}


.footer_qr_text p {
  margin: 0px;
  color: #FFF;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.qrfy_google_box {
  padding: 45px 0px;
  background: #220E27;
  border-bottom: 1px solid #3D3040;
}

.footer_qr {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* .footer_qr_google {} */
.hero-Download-box button:hover svg path {
  stroke: #fff;
  fill: #fff;
}



.hero-Download-box button:active {
  background-color: #2947c7;
  border: 1px solid #2947c7;
  color: #fff;
}

.hero-Download-box button:active svg {
  stroke: #fff;
  fill: #fff;
}

.hero-Download-box button:active svg path {
  stroke: #fff;
  fill: #fff;
}

.google-box {
  WIDTH: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 95px;
}

.main-google {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.google-1 {
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-right: 1px solid #CDD1E0;
}

.goggle-2 {
  width: 42%;
}

.goggle-2 span {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.goggle-2 span svg {
  width: 25px;
  height: 25px;
}


.google-logo {
  width: 100px;
}

.google-logo img {
  width: 100%;
}

.star-box {
  width: 62%;
}

.star-box span {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.star-box p {
  color: #68676C;
  text-align: right;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  padding-top: 5px;
}

section.Generator {
  width: 100%;
  padding: 120px 0px;
  background-color: #f7f7f7;
}

.main-Generator {
  width: 100%;
}

.Generator-tital {
  width: 100%;
}

.Generator-tital h2 {
  color: #220E27;
  text-align: center;
  font-family: sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
}

.Generator-tital p {
  color: #68676C;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
  padding-top: 40px;
}

.Generator-box {
  width: 100%;
  position: relative;
}

.Generator-ab {
  left: 0px;
  right: 0px;
  width: 1px;
  height: 1055px;
  margin: 0px auto;
  position: absolute;
  background-color: rgb(205, 209, 224);
  top: 130px;
}


.Generator-ab span {
  left: -22px;
  color: rgb(255, 255, 255);
  width: 44px;
  height: 44px;
  display: flex;
  position: absolute;
  font-size: 24px;
  align-items: center;
  font-weight: 700;
  border-radius: 50%;
  justify-content: center;
  background-color: rgb(34, 14, 39);
}

span.no2 {
  top: 380px;
}

span.no3 {
  bottom: 230px;
}

.Generator-gr-box {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
}

.Generator-gr-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer_google_box p {
  margin: 0px;
  background: #2d1a32;
  color: #FFF;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.59px;
  padding: 11px 9px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


.footer_links h5 {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0px 0px 24px 0px;
}

.footer_links ul li a {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer_links ul li {
  margin: 0px 0px 18px 0px;
}

.footer_extra_links {
  display: flex;
  align-items: center;
  gap: 79px;
}


.footer_qr_google {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_copyright {
  background: #220E27;
}

.footer_copyright .container {
  border-top: 1px solid #3D3040;
}

.footer_copyright_txt {
  padding: 30px 0px;
}

.footer_copyright_txt p {
  color: #FFF;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px;
}

.footer_copyright_txt p {
  color: #FFF;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px;
}

.footer_icon_box {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.footer_social_links {
  display: flex;
  align-items: center;
  gap: 23px;
  padding: 30px 0px;
  justify-content: end;

}

.footer_social_links ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer_icon_box p {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.footer_icon_box span {
  color: #fff;
}

/*********** Footer CSS End ****************/


/*********** Generate types inner page CSS Start ****************/

.typepg_breadscrum {
  margin-top: 23px;
}

.typepg_breadscrum a {
  color: #96949C;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.type_first_sec_txt h6 {
  color: #68676C;
  font-size: 20px;
  margin-top: 28px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 28px;
}


.type_first_sec_txt h2 {
  font-size: 68px;
  line-height: 76px;
  color: #220E27;
  font-weight: 800;
  margin: 0px;
}

.type_first_sec_txt h2 span {
  color: #2947c7;
}


.type_first_sec_txt p {
  margin-top: 28px;
  font-size: 24px;
  line-height: 32px;
  color: #68676C;
  margin-bottom: 52px;
}

.type_first_sec_txt a {
  background: #2947c7;
  color: #fff;
  padding: 10px 16px;
  border-radius: 28px;
  line-height: 45px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

section.type_first_sec {
  background: linear-gradient(332deg, rgb(238, 85, 88) 0%, rgba(238, 85, 88, 0) 58.35%);
  padding: 80px 0px 30px 0px;
}

.website_qrcode_mob {
  background: url(../img/cell-phone.webp) no-repeat top center;
  width: 360px;
  height: 724.3px;
  background-size: 360px 724.3px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

.website_qrcode_mob img {
  padding: 20px 0px 0px 20px;
  border-radius: 70px 70px;
  height: 98%;
  width: 95%;
}

/*********** Generate types inner page CSS End ****************/


/*********** Second Type Sec CSS Start ****************/

section.second_type_sec {
  padding: 110px 0px 140px 0px;
}

.second_type_sec_head {
  text-align: center;
  margin: 0px 0px 36px 0px;
}

.second_type_sec_head h2 {
  line-height: 48px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
}

.second_type_sec_head p {
  font-size: 20px;
  line-height: 34px;
  width: 1000px;
  margin: 0 auto;
}


/*********** Second Type Sec CSS End ****************/


/*********** Three Type Sec CSS Start ****************/


.three_types_sec_head h4 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
  color: #220E27;
  margin-bottom: 20px;
}


.three_types_sec_head {
    text-align: center;
}

.three_types_sec_head p {
  font-size: 22px;
  line-height: 26px;
  color: #68676C;
  font-weight: 400;
  margin-bottom: 20px;
}

.create_type_img img {
  width: 100%;
  padding: 0px 80px;
}

section.create_type_sec {
  padding: 80px 0px;
}

.create_type_txt h6 {
  color: #2947c7;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.create_type_txt h3 {
  color: #220E27;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.create_type_txt p {
  color: #68676C;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 400;
  line-height: 32px;
}


/*********** Three Type Sec CSS End ****************/


/********************* Shahdin CSS ENd ***********************/





.gr-card-tital {
  width: 40%;
}

.gr-card-tital h2 {
  color: #220E27;
  text-align: right;
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 93.75% */
  padding-bottom: 16px;
}

.gr-card-tital p {
  color: #68676C;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.gr-card-tital.more-style p {
  text-align: left;
}

.gr-card-tital.more-style h2 {
  text-align: left;
}

.gr-card-img {
  width: 40%;
}


.gr-card-img img {
  width: 100%;
}

.Generator-gr-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.Generator-gr-btn button {
  border-radius: 28px;
  background: #2947c7;
  border: 1px solid #2947c7;
  padding: 12px 45px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  transition: 0.3s;
  line-height: 31.5px;
  /* 175% */
}

.Generator-gr-btn button:hover {
  background: transparent;
  color: #2947c7;
}

.main-Marketing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.Marketing-part-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

img.yesh {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.Marketing-box-1 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 0px;
}

.Marketing-card {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.Marketing-box-2 {
  width: 38%;
}

.Marketing-card.m1 {
  width: 58%;
  height: 170px;
}

.Marketing-card.m2 {
  width: 40%;
  height: 170px;
}

.Marketing-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #f8f8f9;
  border-radius: 10px;
}

.Marketing-card.mmain {
  width: 100%;
  height: 360px;
}

.Marketing-card img:hover {
  border: 1px solid rgb(29, 89, 249);
  box-shadow: rgba(29, 89, 249, 0.15) 0px 4px 6px 0px;

}

.Marketing-card:hover img.yesh {
  opacity: 1;
}

.Marketing-card:hover img.noh {
  opacity: 0;
}

.marketing-tital {
  width: 100%;
}

.main-box-marketing {
  width: 100%;
}

.marketing-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
}

.marketing-btn button {
  padding: 12px 36px;
  border-radius: 28px;
  background: #2947c7;
  border: 1px solid #2947c7;
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  transition: 0.3s;
}

.marketing-btn button:hover {
  background-color: transparent;
  color: #2947c7;
}

section.Marketing {
  width: 100%;
  padding: 125px 0px;
}

.marketing-tital h2 {
  color: #220E27;
  text-align: center;
  font-family: sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
  padding-bottom: 28px;
}

section.Everything {
  width: 100%;
  background: #F7F7F7;
  padding: 85px 0px;
}

.min-Everything {
  width: 100%;
}

.Everything-tital {
  width: 100%;
}

.Everything-tital h2 {
  color: #220E27;
  text-align: center;
  font-family: sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
  padding-bottom: 25px;
}

.Everything-tital p {
  color: #68676C;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}

.Everything-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
}

.Everything-imger {
  width: 40%;
}

.Everything-imger img {
  width: 100%;
}

.Everything-faq-box {
  width: 50%;
}

.Everything-faq-box .accordion {
  border: none;
  border-radius: 0px;
}

.Everything-faq-box .accordion__button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #220E27;
  font-family: sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 123.077% */
  padding: 24px 0px;
}


.Everything-faq-box .accordion__button:hover {
  background-color: transparent;
}

.Everything-faq-box .accordion__button svg {
  transform: rotate(180deg);
}

.Everything-faq-box .accordion__button[aria-expanded="true"] svg {
  transform: rotate(0deg);
}

.Everything-faq-box .accordion__panel {
  padding: 0px;
  padding-bottom: 24px;
  color: #68676C;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

.Everything-faq-box .accordion__panel span {
  color: #2947c7;
}


section.Leave {
  width: 100%;
  background: #f7f7f7;
  padding: 60px 0px 120px 0px;
}

.main-Leave {
  width: 100%;
}

.Leave-tital {
  width: 100%;
}

.Leave-tital h2 {
  color: #220E27;
  font-family: sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
  padding-bottom: 44px;
  text-align: center;
}

.Leave-box {
  width: 100%;
}

.Leave-tab-box {
  width: 100%;
}

.Leave-tab-box ul.react-tabs__tab-list {
  border: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 14px;
  padding-bottom: 60px !important;
}

.Leave-tab-box .react-tabs__tab {
  border-radius: 28px;
  border: 2px solid #CDD1E0;
  background: #FFF;
  color: #68676C;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  padding: 12px 42px;
}

.Leave-tab-box .react-tabs__tab--selected {
  border: 2px solid #2947c7;
  color: #2947c7;
}

.Leave-tab-boxing {
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.Leave-tab-boxing .accordion {
  border: none;
  border-radius: 10px;
}


.more-faq {
  width: 100% !important;
}

.more-faq .accordion__button {
  padding-left: 80px;
  padding-right: 70px;
}

.more-faq .accordion__panel {
  padding-left: 80px;
  padding-right: 70px;
}

.know-box {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px 50px 0px;
}

.know-box h2 {
  color: #220E27;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  /* 121.429% */
  padding-bottom: 12px;
}

.know-box p {
  color: #68676C;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.know-box button {
  border-radius: 28px;
  background: #2947c7;
  padding: 12px 28px;
  border: 1px solid #2947c7;
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  margin-top: 36px;
  transition: 0.3s;
}

.know-box button:hover {
  background-color: transparent;
  color: #2947c7;
}

.main-know-box {
  width: 100%;
  padding: 40px;
}

section.Days {
  width: 100%;
  padding: 105px 0px 45px 0px;
  background: linear-gradient(0deg, #220E27 15.06%, #2947c7 100%);
}

.main-Days {
  width: 100%;
}

.Days-tital {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  position: relative;
}

.Days-tital h2 {
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
}

.Days-tital button {
  padding: 12px 85px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px;
  /* 175% */
  transition: 0.3s;
}

.days-imger {
  width: 100%;
  padding-top: 70px;
}

.days-imger img {
  width: 100%;
}

.Days-tital button:hover {
  background-color: #fff;
  color: #2947c7;
}

.Days-tital img {
  position: absolute;
  top: 115px;
  left: 500px;
}

.my-tab-box ul.react-tabs__tab-list {
  background-color: #f7f7f7;
  padding: 15px !important;
}

.my-tab-box .react-tabs__tab {
  width: 32%;
  border-radius: 5px;
  color: #f7f7f7;
  padding: 8px;
  font-weight: 400;

}

.my-tab-box .react-tabs__tab--selected {
  color: #000;
}

.tab-space {
  width: 100%;
  padding: 25px 0px;
}

.change-click-btn {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.change-click-btn button {
  width: 14%;
  color: #2947c7;
  border: 2px solid #2947c7;
  box-shadow: none;
  background-color: #FFFFFF;
  padding: 12px 0px;
  border-radius: 50px;
  font-size: 16px;
}

.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  height: 56px;
  padding: 6px 16px;
  position: relative;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  white-space: nowrap;
  border-radius: 28px;
  text-transform: none;
  padding: 12px 0px;
}


.tab-space {
  width: 100%;
  padding: 25px 0px;
}

.change-click-btn {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.change-click-btn button {
  width: 14%;
  color: #2947c7;
  border: 2px solid #2947c7;
  box-shadow: none;
  background-color: #FFFFFF;
  padding: 12px 0px;
  border-radius: 50px;
  font-size: 16px;
}

.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  height: 56px;
  padding: 6px 16px;
  position: relative;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  white-space: nowrap;
  border-radius: 28px;
  text-transform: none;
  padding: 12px 0px;
}

.more-hide-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.hol-1 {
  width: 49%;
}

.hol-3 {
  width: 100%;
}

.hol-2 {
  width: 24%;
}

.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked+.toggle:before {
  background: #2947c7;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked+.toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked+.toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

.checkbox-wrapper-51 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox-wrapper-51 p {
  color: #68676C;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-left: 8px;
  user-select: none;
  white-space: normal;
}

button.add-file-btn svg {
  width: 24px;
  height: 24px;
  fill: #2947c7;
  margin-right: 5px;
}

button.add-file-btn {
  width: 18%;
  background-color: transparent;
  border: 1px solid #2947c7;
  padding: 14px 16px;
  position: relative;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  white-space: nowrap;
  border-radius: 28px;
  text-transform: none;
  color: #2947c7;
  margin-bottom: 15px;
}

button.add-file-btn:hover {
  background-color: #f3f5fe;
}

section.Dynamic {
  width: 100%;
  background: linear-gradient(180deg, #F7F7F7 40vh, #fff 0);
  padding: 120px 0px;
}

.contanir {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.main-Dynamic {
  width: 100%;
}

.main-Dynamic h2 {
  color: #220E27;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  font-family: sans-serif;
  margin: 0px;
  padding-bottom: 35px;
}

img {}

.Dynamic-imger {
  width: 100%;
}

.Dynamic-imger img {
  width: 100%;
}

.main-Dynamic p {
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: sans-serif;
  padding-top: 35px;
  margin: 0px;
}

.main-Dynamic ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px !important;
}

.main-Dynamic ul li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  margin: 0px;
}

.main-Dynamic ul li span {
  max-width: 24px;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  content: counter(list-counter);
  display: inline-flex;
  font-size: 16px;
  background: #96949C;
  align-items: center;
  font-weight: 700;
  border-radius: 100%;
  vertical-align: middle;
  justify-content: center;
  max-height: 24px;

}

section.Updating {
  width: 100%;
  padding-bottom: 80px;
}

section.Updating {
  width: 100%;
  padding-bottom: 80px;
}

.main-Dynamic h3 {
  font-family: sans-serif;
  color: #220E27;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding-bottom: 35px;
}

.main-Dynamic h4 {
  color: #220E27;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 35px;
}


.Choice-box {
  width: 100%;
  padding-top: 35px;
}

.Choice-box h5 {
  color: #68676C;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 5px;
  margin: 0px;
}

.Choice-box h5::before {
  top: -5px;
  width: 5px;
  height: 5px;
  content: '';
  display: inline-block;
  position: relative;
  background: currentColor;
  margin-right: 10px;
  border-radius: 100%;
  vertical-align: middle;
}

.Choice-box span {
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: sans-serif;
}


.Choice-box {
  width: 100%;
  padding-top: 35px;
}

.Choice-box h5 {
  color: #68676C;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 5px;
  margin: 0px;
}

.Choice-box h5::before {
  top: -5px;
  width: 5px;
  height: 5px;
  content: '';
  display: inline-block;
  position: relative;
  background: currentColor;
  margin-right: 10px;
  border-radius: 100%;
  vertical-align: middle;
}

.Choice-box span {
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: sans-serif;
}

section.Benefits {
  width: 100%;
  background-color: #f7f7f7;
  padding: 80px 0px;
}

.main-Benefits {
  width: 100%;
  padding: 80px 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px 0px #CDD1E0;
  border-radius: 8px;
}

.main-Benefits h2 {
  color: #220E27;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 28px; 
  margin: 0px;

}

.Benefits-box {
  width: 100%;
}
p.padding-top {
  padding-top: 30px;
}
.Benefits-box p {
  margin: 0px;
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 24px;
  font-family: sans-serif;
  position: relative;
}

.Benefits-box p span {
  font-weight: bold;
}
.main-Benefits-gap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.Benefits-box p::before {
  top: 30px;
  left: -40px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  position: absolute;
  background: url(../img/list-blue-check.svg  ) no-repeat;
  vertical-align: middle;
  background-size: contain;
}

.part-2 {
  padding-top: 120px;
  padding-bottom: 200px;
}

.main-Benefits p {
  margin: 0px;
  color: #68676C;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: sans-serif;
  position: relative;
}

p.Statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p.Statistics span::before {
  top: -5px;
  width: 5px;
  height: 5px;
  content: '';
  display: inline-block;
  position: relative;
  background: currentColor;
  margin-right: 10px;
  border-radius: 100%;
  vertical-align: middle;
}

p.hello-space-p {
  padding-top: 30px;
}

.main-Dynamic h5 {
  color: #220E27;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding-top: 35px;
} 


.gap-px {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

p.padding-name {
  padding: 0px !important;
}


section.login {
  width: 100%;
}

.main-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  HEIGHT: 100VH;
}



.part-login-1 {
  width: 42%;
}

.part-login-2 {
  width: 50%;
  HEIGHT: 100%;
}

.part-login-2 img {
  width: 100%;
  HEIGHT: 100%;
}

.part-login-1 form {
  width: 100%;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.part-login-1 form  h2 {
  color: #220E27;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 75% */
  margin: 0px;
}

.part-login-1 form p {
  margin: 0px;
  color: #68676C;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 30px;
}

.login-input-group {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.login-input-group label {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.login-input-group input {
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  width: 100%;
  padding: 14px;
}

.part-login-1 form span {
  width: 100%;
  color: #68676C;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 116.667% */
}

.part-login-1 form span a {
  color: #2947C7 !important;
  cursor: pointer;
}

.part-login-1 form button {
  background-color: #2947c7;
  border: 1px solid #2947c7;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px; /* 175% */
  padding: 8px 60px;
  border-radius: 35px;
  margin: 20px 0px;
}